KAFKA_EXTERNAL_PORT=9094
KAFKA_BOOTSTRAP_SERVERS=kafka:9092
KAFKA_UI_PORT=8080

MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_ENDPOINT=http://minio:9000
MINIO_BUCKET=notebook-lm
MINIO_ROOT_USER=notebook-lm-dev
MINIO_ROOT_PASSWORD=change-this-to-a-long-development-secret
